li a {
    color: green;
}

#polls {
    background: white url("images/background.jpg") no-repeat;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* body {
} */